:root{
  --colorLetter: white;
  --colorMain: #0540F2;
}
body{
  font-family: 'Poppins', sans-serif;;
  background: linear-gradient(30deg, #5EC8F2, #0597F2);
  background-attachment: fixed;
}
body > .nuvens-1, .nuvens-2, .nuvens-3, .nuvens-4, .nuvens-5, .nuvens-6, .nuvens-7, .nuvens-8, .nuvens-9, .nuvens-10, .nuvens-11, .nuvens-12, .nuvens-13{
  position: absolute;
  width: 9.6em;
}
body > .nuvens-1{
  margin-top: 1.5em;
  margin-left: 17em;
}
body > .nuvens-2{
  margin-top: 1em;
  margin-left: 14em;
}
body > .nuvens-3{
  margin-top: 12em;
  margin-left: 20em;
}
body > .nuvens-4{
  margin-top: 19em;
  margin-left: 35em;
}
body > .nuvens-5{
  margin-top: 21em;
  margin-left: 55em;
}
body > .nuvens-7{
  margin-top: 15em;
  margin-left: 65em;
}
body > .nuvens-8{
  margin-top: 4em;
  margin-left: 67em;
}
body > .nuvens-9{
  margin-top: 10em;
  margin-left: 80em;
}
body > .nuvens-10{
  margin-top: 20em;
}
body > .nuvens-11{
  margin-top: -5em;
  margin-left: 45em;
}
body > .nuvens-12{
  margin-top: 30em;
  margin-left: 20em;
}
body > .nuvens-13{
  margin-top: 30em;
  margin-left: 80em;
}
body > #main{
  position: relative;
  max-width: 35em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding: .7em;
}
body > #main{
  background-color: var(--colorMain) ;
  border-radius: 1em;
}
h1{
  text-align: center;
  color: var(--colorLetter);
}
body > #main > #form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8em;
  margin-left: 1em;
}
body > #main > #form > #inputCity{
  width: 20em;
  height: 8vh;
  border-radius: .5em;
  padding-left: 1em;
  border: none;
font-size: 1.2em;
}
body > #main > #form > #btn{
  height: 4em;
  width: 6em;
  border-radius: .5em;
  border:none;
  background-color: var(--colorMain);
  color: var(--colorLetter);
}
body > #main > #city{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
  margin-right: 2em;
}
body > #main > #climate{
  display: grid;
  justify-content: center;
  align-items: center;
}
body > #main > #climate > #img-climate{
  width: 7em;
  margin-right: auto;
  margin-left: auto;
  margin-top: -1.5em;
}
body > #main > #climate > #climate-description{
  padding-top: .7em;
  text-align: center;
  margin-top: -1.5em;
  color: var(--colorLetter);
}
body > #main > #climate > #celsius{
  font-size: 1.5em;
  text-align: center;
  color: var(--colorLetter);
}
body > #main > #temperature{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10em;
   margin-top: -2em;
}
body > #main > #temperature > #humidity{
  font-size: 1.3em;
  color: var(--colorLetter);
}
body > #main > #temperature > #wind{
  font-size: 1.3em;
  color: var(--colorLetter);
}
.bi{
  font-size: 2em;
  color: var(--colorLetter);
}
.search{
  font-size: 1.4em;
  margin-right: .3em;
}
@media screen and (max-width: 600px){
  body > #main > #form > #btn{
    display: none;
  }
  body > #main{
    background-color: transparent;
    opacity: 100%;
  }
  body > .nuvens-1, .nuvens-2, .nuvens-3, .nuvens-4, .nuvens-5, .nuvens-6, .nuvens-7, .nuvens-8, .nuvens-9, .nuvens-10, .nuvens-11, .nuvens-12, .nuvens-13{
    display: none;
  }
  body > #main > #form > #inputCity{
    border: none;
  }
  body > #main > #temperature{
    margin-left: 2em;
  }
}